/*
 * This CSS file specifies customizations to the Flow UI.
 * ------------------------------------------------------
 * Customize and overwrite this file in the H2O jar file to have your
 *  changes show up while running H2O.
 */

.tetra-flow {
    color: #000000;
    margin-left: 5px;
    font-weight: bold;
}

.flow-navbar {
    border-top: 5px solid #21a79c;
}
